[submodule "Micro-XRCE-DDS-Client"]
	path = Micro-XRCE-DDS-Client
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client
	branch = dashing
[submodule "FreeRTOS/Middlewares/Third_Party/FreeRTOS_POSIX"]
	path = FreeRTOS/Middlewares/Third_Party/FreeRTOS_POSIX
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX
