#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MICROXRCECLIENT_6LOWPAN
	tristate "Micro-XRCE-DDS Client 6lowpan example"
	default n
	---help---
		Enable Micro-XRCE-DDS 6lowpan Client example

if EXAMPLES_MICROXRCECLIENT_6LOWPAN

config EXAMPLES_MICROXRCECLIENT_6LOWPAN_PROGNAME
	string "Program name"
	default "microxrceclient_6lowpan"
	depends on BUILD_LOADABLE
	---help---
		This is a example which create a Micro-XRCE-DDS 6lowpan publisher that works with the MRF24J40 radio over 6LOWPAN protocol

config EXAMPLES_MICROXRCECLIENT_6LOWPAN_PRIORITY
	int "Micro-XRCE-DDS Client 6lowpan task priority"
	default 100

config EXAMPLES_MICROXRCECLIENT_6LOWPAN_STACKSIZE
	int "Micro-XRCE-DDS Client 6lowpan stack size"
	default 4096

endif
