#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MICRO_XRCE_CLIENT_DEMO_APP
	tristate "Micro XRCE-DDS example"
	default y
	depends on MICRO_XRCE_CLIENT
	---help---
		Enable the Micro XRCE-DDS example

config MICRO_XRCE_APP_STACKSIZE
	int "Micro XRCE demo stack size"
	default 4000
	depends on MICRO_XRCE_CLIENT_DEMO_APP

